.home {
  height: 100vh;
}

.carousel-item > img {
  filter: brightness(50%);
}

.carousel-caption {
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-caption > h1 {
  font-size: calc(1rem + 1vw);
}
.carousel-caption > h6 {
  font-size: calc(0.4rem + 1vw);
}
@media only screen and (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .carousel-caption > h1 {
    font-size: calc(1rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.4rem + 1vw);
  }
}
@media only screen and (max-width: 576px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .carousel-caption > h1 {
    font-size: calc(1rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.4rem + 1vw);
  }
}
@media only screen and (max-width: 375px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .carousel-caption > h1 {
    font-size: calc(1rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.4rem + 1vw);
  }
}
