.home {
  height: 100vh;
}

.carousel-item > img {
  filter: brightness(75%);
}

.carousel-caption {
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-caption > h1 {
  font-size: calc(2rem + 1vw);
  color: white;
  line-height: 1.4em;
  letter-spacing: 5px;
}
.carousel-caption > h6 {
  font-size: calc(0.7rem + 1vw);
  color: #fcfcfc;
  letter-spacing: 5px;
  line-height: 1.3em;
}
@media only screen and (max-width: 768px) {
  .carousel-caption {
    top: 50%;
  }

  .carousel-caption > h1 {
    font-size: calc(1.6rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.6rem + 1vw);
  }
}
@media only screen and (max-width: 576px) {
  .carousel-caption > h1 {
    font-size: calc(1.4rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.5rem + 1vw);
  }
  .carousel-item,
  .carousel-item > img {
    height: 55vw;
  }
}
@media only screen and (max-width: 375px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption > h1 {
    font-size: calc(1.3rem + 1vw);
  }
  .carousel-caption > h6 {
    font-size: calc(0.4rem + 1vw);
  }
}
